CLIENT_ID=YOUR_MASTODON_CLIENT_ID
CLIENT_SECRET=YOUR_MASTODON_CLIENT_SECRET
ACCESS_TOKEN=YOUR_MASTODON_ACCESS_TOKEN
API_BASE_URL=YOUR_INSTANCE
CREDENTIAL_JSON=YOUR_CREDENTIAL_JSON
GOOGLE_SHEET_URL=YOUR_GSPREAD_SHEET
